body,html,div,ul,li,span,a,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,img,i,em,form,input,table,tr,td{margin: 0;padding: 0;}
body{font-size: 14px; font-family: "微软雅黑";  height: 1000px;}
ul,li{list-style: none;}
img{
	
}
a{
	text-decoration: none;
	color: #000;
}

.left{
	float: left;
}
.right{
	float: right;
}

.logo{
	width: 988px; margin: 5px auto 10px; overflow: hidden;
}
.logo ul{
	float: right; padding-top: 25px; height: 30px; 
}
.logo ul li{
	float: left; font-size: 14px;padding: 0 15px; position: relative;line-height: 30px;z-index: 992;
}
.shoppingimg{
	padding-left: 32px !important; 
}
.shoppingimg span{
	background: url(../images/car_icon.png) no-repeat; width: 16px; height: 16px; position: absolute; left:11px; top:9px;
}
.logo em{
	position: absolute; right: 0; top: 9px; width: 0; overflow: hidden; border-left: 1px solid #372523; height: 12px;
}
.shoppcarname{
	padding-right: 25px !important;
}
.txdz{
	    width: 740px;position: fixed;left:23% ;top: 30%;   padding: 15px 0px 20px 30px;text-align: left;overflow: hidden;border: 2px solid #C8002B;font-size: 14px;font-family: "微软雅黑";color: #000;background-color: #FFF; z-index: 1002; display: none;
}
.quxiao{
	    display: block; width: 18px;height: 18px;border: 1px solid #FAE5EA;position: absolute;right: 8px;top: 7px;cursor: pointer;background:url(../images/car_icon.png)  no-repeat -37px -23px;
}
.txdz h2{
    font-size: 15px;height: 28px;line-height: 28px;padding-bottom: 5px;padding-left: 12px;
}
.txdz dl{
	    width: 740px;overflow: hidden;margin-bottom: 12px;clear: both; padding-left: 12px;
}
.txdz dt{
	    width: 80px; float: left;overflow: hidden;line-height: 22px; text-align: left;
}
#myaddAddress{
	    height: 39px; line-height: 39px;padding: 5px 0 10px 100px;
}
.carTkSaveAddImg{
	    display: block;float: left;width: 148px;height: 39px;background:url(../images/car_icon.png) no-repeat -123px -111px;margin-right: 20px; cursor: pointer;
}
.red{
	color: red;
}
.logo  li a:hover{
	color: red; text-decoration: underline;
}
.shoppingcar{
	width: 988px; margin: 0 auto;
}
.shoppingcarnav{
	width: 988px; height: 45px; margin-bottom: 8px; padding-top: 10px;
} 
.shoppingcarnav li{
	float: left;  height: 45px; 
}
.icon1{
	width: 210px; background: url(../images/car_nav.jpg) no-repeat 0 0;
}
.icon2{
	width: 228px; background: url(../images/car_nav.jpg) no-repeat -210px -55px;
}
.icon3{
	width: 207px; background: url(../images/car_nav.jpg) no-repeat -438px 0;
}
.address{
	width: 990px; margin: 25px auto 0 auto; border: 1px solid #C8C8C8;
}
.adsplace span{
	margin-right: 10px;
}
.xxdz{
	display: block;
}
.sh-address{
	 background: #F6F2F1; padding-left: 20px; height: 35px; line-height: 35px;    color: #817F80; font-weight: 100;
}
.address ul{
	padding-left: 20px;
}
.ads{
	border: 1px solid #E8E8E8;  width: 285px; height: 165px; padding: 1px 8px; margin-top: 20px; margin-right: 20px; background: #FCFAFB; float: left;
}
.adss{
	border: 2px solid red;padding: 0px 7px;
}
.adsname{
	width: 264px; height: 28px; padding-left: 21px; line-height: 28px; border-bottom: 1px dashed #CAC6C7; padding-top: 18px;position: relative;
}
.icon4{
	position: absolute; left: 2px; top: 26px; background: url(../images/car_icon.png) no-repeat -23px 0; width: 9px; height: 12px;
}
.moren1{
	color: #DE637F;
}
.adsplace{
	width: 264px; height: 60px; position: relative; border-bottom: 1px dashed #CAC6C7; padding-left: 20px; padding-top: 10px; padding-bottom: 8px; line-height: 21px;
}
.icon5{
	position: absolute; left: 2px; top:14px; background: url(../images/car_icon.png) no-repeat -41px 0; width: 9px; height: 12px;
}
.adsphone{
	width: 264px; height: 33px; line-height: 33px; position: relative;  padding-left: 20px; 
}
.icon6{
	position: absolute; left: 2px; top: 11px; background: url(../images/car_icon.png) no-repeat -61px 0; width: 9px; height: 12px;
}
.addst{
	    padding-left: 10px;margin-top: 20px;overflow: hidden;clear: both;margin-bottom: 24px; height: 22px;
}
.adsb{
	border: 1px dotted red;  width: 285px; height: 165px; padding: 1px 8px; margin-top: 20px; margin-right: 20px; background: #FCFAFB; float: left;
}
.adsb:hover{
	border: 2px solid red;padding: 0px 7px
}
.addnew{
	 padding-top: 47px; text-align:  center;
}
.addnew img{
	cursor: pointer;
}
.pay{
	width: 986px; margin: 25px auto 0 auto; border: 1px solid #C8C8C8;
}
.pay-style{
	    padding: 36px 0 24px 43px;overflow: hidden;width: 848px
}
.online,.hdfk{
	line-height: 38px;
}
.bank{
	    float: right;display: block;position: relative;width: 151px;height: 37px;margin-right: 32px;line-height: 32px;background-color: #FFF;
    border: 1px solid #FFF;border-bottom: 0px;text-align: center; cursor: pointer;
}
.under{
    display: block; width: 90px;height: 8px;position: absolute;overflow: hidden;top: 27px;left: 30px;
    background: url(../images/car_icon.png) no-repeat -181px -159px;
}
.bank-list{
	width: 823px;overflow: hidden;background-color: #FBFBFB;padding: 20px 0px 20px 23px;border: 1px solid #AEAEAE;
    border-top: 0px;margin-bottom: 20px; clear: both;
}
.bank-list li{
	    float: left;padding-right: 30px;color: #000;font-weight: bold;
}
.carpaytypehide{
	display: none;
}
.bottomAdd{
	overflow: hidden;text-align: right; clear: both;width: 986px; margin: 25px auto 0 auto;  
}
.botAddInfoBut{
	    display: block;
    clear: both;
    width: 190px;
    height: 52px;
    background:url(../images/car_icon.png) no-repeat -81px -31px;
    float: right;
    cursor: pointer;
}















	